@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "weather";
  src: url("./fonts/CfSnowballRegular-8xp2.ttf");
}
#logo {
  font-family: "weather";
}
#cards::-webkit-scrollbar {
  display: none;
}
